trigger:
  branches:
    include:
    - master
    - main
  paths:
    include:
    - src/*
    - ChuckNorrisTask/*
    - static/*
    - vss-extension.json
    - package.json

pool:
  vmImage: 'windows-latest'

variables:
  major: 1
  minor: 0
  npm_config_cache: $(Pipeline.Workspace)/.npm

name: $(major).$(minor)$(rev:.r)

stages:
- stage: Build
  displayName: 'Build Extension'
  jobs:
  - job: BuildJob
    displayName: 'Build Chuck Norris Extension'
    steps:
    - task: NodeTool@0
      displayName: 'Use Node.js 20.x'
      inputs:
        versionSpec: '20.x'

    - task: Cache@2
      displayName: 'Cache npm packages'
      inputs:
        key: 'npm | "$(Agent.OS)" | package-lock.json'
        restoreKeys: |
          npm | "$(Agent.OS)"
        path: $(npm_config_cache)

    - task: Npm@1
      displayName: 'npm install'
      inputs:
        command: 'install'
        verbose: false

    - task: Npm@1
      displayName: 'npm clean'
      inputs:
        command: 'custom'
        customCommand: 'run clean'
      continueOnError: true

    - task: Npm@1
      displayName: 'npm build'
      inputs:
        command: 'custom'
        customCommand: 'run build'

    - task: TfxInstaller@4
      displayName: 'Install tfx-cli'
      inputs:
        version: 'v0.17.x'

    - task: PackageAzureDevOpsExtension@4
      displayName: 'Package Extension'
      inputs:
        rootFolder: '$(System.DefaultWorkingDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)'
        publisherId: 'jimrothatonesource'
        extensionId: 'chucknorris-build-enhancer'
        extensionVersion: '$(Build.BuildNumber)'
        updateTasksVersion: true
        extensionVisibility: 'private'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact: drop'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'drop'
        publishLocation: 'Container'

- stage: PublishDev
  displayName: 'Publish to Dev'
  dependsOn: Build
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
  jobs:
  - deployment: PublishExtension
    displayName: 'Publish Extension to Marketplace'
    environment: 'DevOps-Extensions-Dev'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: TfxInstaller@4
            displayName: 'Install tfx-cli'
            inputs:
              version: 'v0.17.x'

          - task: PublishAzureDevOpsExtension@4
            displayName: 'Publish Extension'
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'Azure DevOps Marketplace'
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/drop/*.vsix'
              publisherId: 'jimrothatonesource'
              extensionId: 'chucknorris-build-enhancer'
              extensionVisibility: 'private'
              shareWith: 'osvtest'
